
h1{
    width: 100px;
	height: 80px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50px;
	right: 50px;
  	font-size: 60px;
	margin: auto;
	color: ivory;
}

h3{
    padding-top: 280px;
	text-align: center;
	color: ivory;
}

.container{
	position: relative;
}


.center{
	margin: 0;
	position: relative;
	padding-left: 550px;
}

.btn-secondary{
	background-color: #2c3e50;
}